[Desktop Entry]
Type=Action
ToolbarLabel[C]=Convert to trusted image
Name[C]=Convert to trusted image
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/usr/lib/qubes/qvm-convert-img-gnome %F
Name[C]=Default profile

